h1{
    color: #4e1e66;
    font-family: 'Roboto Mono', monospace;
}

#title a{
    color: #4e1e66;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.avatar{

    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.mynav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-wrapper{
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title{
    color: #4e1e66;
    font-family: 'Roboto Mono', monospace;

}

.footer {
  position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    flex-shrink: 0;
}

#footerlinks li{
    display: inline-block;
}

#footerlinks li a{
    color: gray;
    text-decoration: underline;
    font-size: small;
}

body {
  position: relative;
    min-height: 100%;
    padding-bottom: 4rem;
    font-family = 'Roboto mono', monospace;
    background-color: #352f38;
}

html {
    height: 100%;
    box-sizing: border-box;
}

.theme-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.theme-buttons{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.whatdoido{
    margin-top: 70px;
}

#purple{
    background-color: #4e1e66;
}

#green{
    background-color: #0f421f;
}

#spacegray{
    background-color: #352f38;
}

#brown{
    background-color: #361d09;
}

.top-page .fa {
  padding: 20px;
  text-decoration: none;
  color: gray;

}

.top-page{
    height: 100%;


}

.media-icons{
    font-family = 'Roboto mono', monospace;
    height: 100%;
    font-size: 15px;
}
