html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 4rem;
    font-family = 'Roboto mono', monospace;
    background-color: #352f38;
}

.container{
    color: gray;
}

h1{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

h1 a{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

#title{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    float:center;
    display: inline;
}

#title a{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.repair-title a{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.mynav{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navbar{
    background-color: gray;
}

.page-wrapper{
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center {
    margin-top: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid #8140b3;
}

.menu{
    text-align:left;
    width:100%;
    margin-bottom: 40px;
}

.post-form{
    margin-top:50px;
}

.post-form *{
    padding: 5px;
}

#email_sent{
    margin-top: 50px;
}

.emailfield, .subjectfield{
    background-color: #303030;
    color: white;
    border-color: #787474;
}

.messagefield{
    height: 4em;
    transition: ease-in-out, height .35s ease-in-out;
    background-color: #303030;
    color: white;
    border-color: #787474;
}

.emailfield:focus, .subjectfield:focus{
    background-color: #787474;
    color: white;
}

.messagefield:focus{
    background-color: #787474;
    color: white;
    height: 11em;
}

.btn-primary{
    background-color:#8140b3 !important;
    border-color:#8140b3 !important;
}

.textfield{
    border-radius: 50%;
    background-color: #303030;
    color: white;
    height: 50px;
}

.editable{
    background-color:white;
    border: solid 1px gray;
}

.author{
    text-align: right;
}

.date{
    margin-bottom: 50px;
}

.repair-icon{
    display:inline;
    font-size:40px;
}

.repair-title{
    display:inline;
}

.theme-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #343336;
    cursor: pointer;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.theme-buttons{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.top-page{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-page .fa {
  text-decoration: none;
  color: gray;
  padding: 15px;
}

.media-icons{
    font-size: 15px;
    color:gray;
    display: inline;
}

#purple{
    background-color: #370752;
}

#green{
    background-color: #0f421f;
}

#spacegray{
    background-color: #242625;
}

#brown{
    background-color: #614805;
}

.footer {
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 40px;
    margin-bottom: 0px;
    text-align: center;
    flex-shrink: 0;
}

#footerlinks li{
    display: inline-block;
}

#footerlinks li a{
    color: gray;
    text-decoration: underline;
    font-size: small;
}

#copyright{
    color: gray;
    font-size: small;
}

@media only screen and (max-width: 800px) {

    .theme-button{
        width: 28px;
        height: 28px;
    }

    #title{
        display:block;
        text-decoration: none;
    }

}

@media only screen and (min-width: 300px) and (max-width: 370px) {

    .theme-button{
        width: 30px;
        height: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .center{
        margin-top: 10px;
    }

    #title{
        width: 100%;
        display: block;
        text-decoration: none;
    }

    #contacttitle{
        font-size: 35px;
    }

}

@media only screen and (max-width: 300px) {

    .theme-button{
        width: 28px;
        height: 28px;
        margin-left: 8px;
        margin-right: 8px;
    }

    #title{
        display:block;
        text-decoration: none;
    }

}
