html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 4rem;
    font-family = 'Roboto mono', monospace;
    background-color: #352f38;
}

.container{
    color: gray;
}

h1{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
}

h1 a{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

#title{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    float:center;
    display: inline;
}

#title a{
    color: #8140b3;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.mynav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navbar{
    background-color: gray;
}

.page-wrapper{
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center {
    margin-top: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.menu{
    text-align:left;
    width:100%;
    margin-bottom: 40px;
}

.post-form{
    margin-top:50px;
}

.post-form *{
    padding: 5px;
}

.author{
    text-align: right;
}

.date{
    margin-bottom: 50px;
}

.repair-icon{
    display:inline;
    font-size:40px;
}

.repair-title{
    display:inline;
}

.theme-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #343336;
    cursor: pointer;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.theme-buttons{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.top-page{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-page .fa {
  text-decoration: none;
  color: gray;
  padding: 15px;
}

.media-icons{
    font-size: 15px;
    color:gray;
    display: inline;
}

#purple{
    background-color: #370752;
}

#green{
    background-color: #0f421f;
}

#spacegray{
    background-color: #242625;
}

#brown{
    background-color: #614805;
}

.footer {
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    flex-shrink: 0;
}

#footerlinks li{
    display: inline-block;
}

#footerlinks li a{
    color: gray;
    text-decoration: underline;
    font-size: small;
}

#copyright{
    color: gray;
    font-size: small;
}
